* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.HomeContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 10rem;
  background: #2a363c;
}
.HomeProfile {
  background: #555e63;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  border-radius: 5px;
  margin: 0 auto;
  gap: 1rem;
  padding: 1.75rem;
  color: white;
}

.ProfilePhotoContainer {
  display: flex;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
  width: 14rem;
  heigth: 14rem;
}
.ProfileImage {
  background: #6b64f3;
  border-radius: 50%;
  width: 12.5rem;
  heigth: 12.5rem;
}
.SocialLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.SocialLink {
  width: 5rem;
  height: 2rem;
  padding: 1rem;
  background-color: #6b64f3;
  text-decoration: none;
  color: #fff;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.SocialLink:hover {
  background-color: #fff;
  color: #6b64f3;
}
.ProjectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #6b64f3;
  color: white;
}
.ProjectsCardContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #6b64f3;
  width: 100vw;
}
.card {
  width: 250px;
  height: fit-content;
  background: #3405a3;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
}

.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card .img {
  width: 100%;
  height: 10rem;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
}

.cardFooter {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.card a {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
  width: 9rem;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.card a:hover {
  background: #534bf3;
}
.cardImage {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
@media only screen and (max-width: 600px) {
  .SocialLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
  }
  .SocialLink {
    width: 100%;
  }
}
